<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is home page</h1>
    <h2>Author : {{d.author}}</h2>
    <h2>Age : {{age}}</h2>
    <h2> {{lst}}</h2>

 <!--conditional statement-->

    {% if age >= 20 %}
        <h4>You will get driving license</h4>
    {% elif age >= 10 and age <= 19 %}
        <h4> You will not get driving license</h4>
    {% else %}
        <h4>You are a child</h4>
    {% endif %}


{{lst}}
<h1>{{ birthday | date:"D d M Y" }}</h1>
<h1>{{ val | length }}</h1>
<h1>{{'Happy coding. python is fun.' | truncatechars:6}} </h1>
<h1>{{'Happy coding. python is fun.' | truncatewords:2}} </h1>
 <h1>{{ "python is fun" | cut:" "}}</h1>
<h1>{{ lst | join:" - " }}</h1>
<!--for loop-->
{% for i in Courses %}
<h3>{{i.id}} {{i.name}} {{i.fee}}</h3>
{% endfor %} 
    
</body>
</html>