{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-wrap justify-content-center px-5 pt-5">
    {% for task in tasks %}
    <div class="col-sm-3 mb-3 mb-sm-0">
        <div class="card mx-2">
            <div class="card-body">
                <h5 class="card-title">{{ task.taskTitle }}</h5>
                <p class="card-text">{{ task.taskDescription }}</p>
                {% if task.is_completed %}
                    <span>Completed</span>
                {% else %}
                    <a href="{% url 'edit_task' task.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_task' task.id %}" class="btn btn-danger">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
