{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}


{% if messages %}
{% for m in messages %}
<small class="fw-bold text-danger text-center p-3"> {{m}}</small>
{% endfor %}
{% endif %}
<form method='post' style="width:50%;margin:auto;" class="mt-5">
{% csrf_token %}
    
<h3 class="text-center p-5" style="color: #0F4C81;">Update Your Profile</h3>

   <!-- {{ form | crispy }} -->
{% for fm in form %}
{{ fm.label_tag }}
{{ fm }}
   
   <p class="text-danger"> {{ fm.errors|striptags }}</p>
   {% endfor %}
<br/>
   <button class = "btn btn-outline-warning m-2"> Submit</button>
   <button class=" btn btn-outline-warning text-dark"> <a href="{% url 'password'%}" class="text-decoration-none text-dark"> Change Your Password </a></button>
</form>
{% endblock  %}