
{% extends 'base.html' %}

{% block content %}
{{block.super}}

<link rel="stylesheet" href="../static/style.css">
    <div class="contain-main col-12 d-flex m-auto justify-contain-center ">
        <div class="p row-6"> Our initiative to provide quality food and unique taste to our consumers. Specialty   our Food is famous for authentic taste. You may try our signature product .....</div>
        <div class="col-md-6 text-center">
            <img class="img-fluid" src="../static/image/BS_all_pic.jpg" alt="image 1" style="max-height: 65vh; max-width: 100%;">
        </div>
    </div>

{% endblock %}

