{% extends 'base.html'%}
{% load crispy_forms_tags %}


{% block content %}
<div class="p-4 text-center ">
    <div class="col-12">
        <div class="card m-5">
            <div class="card-body">
                {% if car.image %}
    <img src="{{ car.image.url }}" class="card-img-top" alt="..." style="width:50%">
{% else %}
    <p>No image available</p>
{% endif %}
                <h3 class="card-titl fw-bold" style="color: #0F4C81;"> Model:{{ car.name }}</h3>
                <h5 style="color: #0F4C81;"> Price:{{car.price}}</h5>
                <p class="card-text fw-bold">{{ car.detail}}</p>
                <a href="{% url 'home'%}" class="btn btn-warning">Buy Now</a>
                
            </div>
        </div>
    </div>
</div>
<div class="card m-5 p-4">
    <h5 style="color: #0F4C81;"> Total Comments: {{ comments|length }}</h5>
    <div class="card-body border m-4 ">
        {% for c in comments %}
            <p>Name: {{ c.name }} {{ c.created_on }}</p>
            <p>Comment: {{ c.text }}</p>
        {% endfor %}
    </div>
</div>
<div class="card p-4 m-3">
    <div class="card-body m-4">
        <h1 style="color: #0F4C81; " class="text-center">Add Comment </h1>
        <form  class="m-5" method='post'>
        {{comment_form | crispy}}
        {% csrf_token %}
        <button  class="btn btn-warning mb-5 ">Submit</button>
        </form>
    </div>
  </div> 
{% endblock  %} 