<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>Hello World !</h1>
<h1>
    <!--  You have {{ value }} message{{ value | pluralize }} <br>

    {{ value | add:"2" }} <br>
    {{ value | addslashes }} <br>
    {{ value | capfirst }} <br>
    "{{ value | center:"15" }}" <br>
    {{ value | cut:" " }} <br>
    {{ value | date:"D d M Y" }} 
    <br>
    {{ value | default:"nothing" }}
    <br> -->
    <!-- {{ value | dictsort:"name" }}


    < is converted to &lt;
> is converted to &gt;
' (single quote) is converted to &#x27;
" (double quote) is converted to &quot;
& is converted to &amp; -->

<!-- {{ value | filesizeformat }} -->
 {{ value | first }}
{{ value | join:" // " }}
{{ value | length }}
<br>
{{ value | linenumbers }}
{{ value | lower }}
{{ value | make_list }} 

<!-- {{ value | random }}

{{ some_list | slice:":2" }} -->

<!-- {{ value | slugify }} -->
{{ value | time:"H:i" }}


</h1>

</body>
</html>