{% extends "base.html" %}
{% load static %}
{% block  content%}

{% if messages %}
{% for m in messages %}
<small class="fw-bold text-danger text-center p-5 mt-5"> {{m}}</small>
{% endfor %}
{% endif %}

<div class="container text-center p-3">
    <div class="row  align-items-center justify-content-center mt-5">
        <div class="col-md-6 ">
            
          <h1 style="color: #0F4C81; font-family: 'Arial', sans-serif; font-size: 24px; font-weight: bold;">
            Experience the Difference, Drive with Confidence.
        </h1>
            <p class="text-dark fw-semibold">
              "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit possimus veritatis neque, provident temporibus est fuga cumque. Officiis, tenetur dolor."
            </p>
           </div>

      <div class="col-md-6">
        <img class =" img-fluid bg-image hover-zoom" src="{% static 'group-car.png' %}" alt="" style="border-radius:20px;"/>
      </div>
    </div>
    <h4 class="m-5 ">
      {% for b in brand %}
        <small class="fw-bold m-2">
           <a class="text-decoration-none "style="color: #0F4C81;" href="{% url 'brand_wise_car' b.slug %}">{{ b.b_name }} </a> 
         </small> 
         
      {% endfor %}
      </h4>
      <hr>
      <h4 class="m-4 fw-bold" ><span style="color: #0F4C81;">Total Car Found:</span>{{ cars|length }}</h4>


<div class="container ">
  <div class="row">
      {% for car in cars %}
          <div class="col-md-4 mb-4">
              <div class="card shadow-lg" style="width: 18rem;">
                {% if car.image %}
                <img src="{{ car.image.url }}" class="card-img-top" alt="Placeholder Image">
            {% else %}
                <!-- Display a placeholder image or message for missing images -->
                <p>
                    <img class =" img-fluid bg-image hover-zoom" src="{% static 'bmw-8ser.jpg' %}" alt="" style="border-radius:20px;"/>

                </p>
            {% endif %}
                  <div class="card-body">
                      <h5 class="card-title fw-bold" style="color: #0F4C81;"> {{ car.name }}</h5>
                      <p class="card-text fw-bold" style="color: #0F4C81;">Price: {{ car.price }}</p>
                      
                      <p class="fw-bold" style="color: #0F4C81;">
                        Brand:
                        {% for b in car.brand.all %}
                         <small class="fw-bold m-2">
                            {{b.b_name}}
                      </small>
                        
                        {% endfor %}
                    </p>
                      <a href="{% url 'view_all' car.id %}" class="btn btn-warning">View Details</a>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>
</div>

{% comment %} third-part {% endcomment %}
<div class="banner-container hover-overlay hover-zoom hover-shadow ripple p-5 m-2" style="height:300px; border-radius:10px;"><div ><img style="height:300px; border-radius:10px;" src="../static/car.jpg" alt="">
  <!-- Your banner content goes here -->

  <p class="text-center fw-bold">Explore our collection of top-notch cars.</p>
</div>
<br>

{% endblock  %}